body {
 font-family: verdana, arial, helvetica, sans-serif;
 background-color: white;
 margin: 0;
}

a {
 color: #336699;
 text-decoration: none;
}

input.button {
 background-color: #CEE3F8;
 border: 1px solid #5F99CF;
}

.clearleft {
 clear: left;
 height: 0px;
}

.flat-list {
 display: inline;
 list-style-type: none;
}

.flat-list li {
 display: inline;
 padding: 5px;
}

.header {
 width: 100%;
 background-color: #CEE3F8;
 border-bottom: 1px solid #5F99CF;
 font-size: x-small;
}

.header-left {
 width: 50%;
 text-align: left;
}

.header-right {
 width: 50%;
 text-align: right;
}

.trip-list {
 border: 1px solid;
 width: 80%;
}

.plain-list {
 list-style-type: none;
}

#map {
 border: 2px solid #5F99CF;
 margin-top: 25px;
}

#trip-components .ui-tabs-panel {
 min-height: 150px;
 border-left: 0;
 border-bottom: 0;
 border-top: 1px solid #5F99CF;
 border-right: 1px solid #5F99CF;
}
