a {
    color: #0187C5;
    text-decoration: none;
}

a.important {
    color: red;
}

textarea {
    height: 100px;
}

form p {
    margin: 1em 0 1em 0;
}

a:focus,
a:hover {
    color: #0187C5;
    text-decoration: underline;
}

.right {
    text-align: right;
}

.header {
    background-color: #CEE3F8;
    border-bottom: 1px solid #5F99CF;
}

/* Lists */

.plain-list {
 list-style-type: none;
}

.horizontal-list {
    display: inline;
    list-style-type: none;
}

.horizontal-list li {
    display: inline;
    padding: 5px;
}

.sortable-list {
 list-style: none;
 padding: 0;
 margin: 0;
}

ul .expand-item {
 font-size: large;
 color: #5F99CF;
 cursor: pointer;
 text-decoration: bold;
}

/* Tables */

.data-grid thead {
 background-color: #CEE3F8;
 color: #5F99CF;
 text-decoration: bold;
}

.data-grid .firstrow td {
 border-top: 1px solid #5F99CF;
}

.data-grid .lastcolumn {
 border-right: 1px solid #5F99CF;
}

/* Forms */

form fieldset {
    border: 1px solid #5F99CF;
}

form legend {
    background-color: #CEE3F8;
    color: #fff;
    border: 1px solid #5F99CF;
    padding: 2px 6px;
}

form .errorlist {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
    list-style-type: none;
}

/* Buttons */

input.button.positive {
    color: #FFFFFF;
    background-color: #5F99CF;
    border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
    border-width: 1px;
}

input.button.negative {
    color: #000000;
    background-color: #F0F0F0;
    border-color: #E7E7E7 #666666 #666666 #E7E7E7;
    border-width: 1px;
}

/* User */

img.user-image {
    border: 1px solid #CCCCCC;
    padding: 1px;
}

/* Trip */
#map {
    border: 2px solid #5F99CF;
    width: 550px;
    height: 450px;
}

#trip-details-tabs > div {
    height: 400px;
    overflow: auto;
}

#trip-details-tabs .annotation {
    position: relative;
}

#trip-details-tabs .annotation .operations {
    display: none;
}

#trip-details-tabs .annotation.hover .operations {
    display: inline;
    position: absolute;
    left: 200px;
    width: 100px;
    text-align: right;
}

#sort-points li {
    width: 380px;
}

#sort-points li .point-view,
#sort-points li .point-edit {
    margin-bottom: 5px;
    height: 4.5em;
    background-color: #CEE3F8;
    border: 1px solid #5F99CF;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
}

#sort-points li .point-view .operations,
#sort-points li .point-edit .operations {
    position: absolute;
    top: 0px;
    left: 270px;
    width: 100px;
    text-align: right;
    line-height: 2.25em;
}

#sort-points li .point-view .point-name {
    font-size: 1.2em;
    line-height: 2.5em;
}

#sort-points li .point-edit {
    background-color: #E6F7D4;
}

#sort-points li .point-edit .values {
    line-height: 2.5em;
}

#sort-points li .point-edit .operations input {
    margin: 3px;
}

#sort-points li.edit-mode {
    border: 1px dashed #5F99CF;
    margin-bottom: 5px;
}

#sort-points li.edit-mode .point-view,
#sort-points li.edit-mode .point-edit {
    margin: 5px;
}

/* jQuery Tabs & Sortable */

.ui-tabs-panel {
    border-left: 0;
    border-bottom: 0;
    border-top: 1px solid #5F99CF;
    border-right: 1px solid #5F99CF;
}

.ui-placeholder {
    background: #E6F7D4;
}

.ui-effects-transfer {
    border: 2px solid #5F99CF;
}
