body {
 font-family: verdana, arial, helvetica, sans-serif;
 background-color: white;
 margin: 0;
}

a {
 color: #336699;
 text-decoration: none;
}

table {
 border-collapse: collapse;
}

input.button {
 background-color: #CEE3F8;
 border: 1px solid #5F99CF;
}

.clearleft {
 clear: left;
 height: 0px;
}

.flat-list {
 display: inline;
 list-style-type: none;
}

.flat-list li {
 display: inline;
 padding: 5px;
}

.header {
 width: 100%;
 background-color: #CEE3F8;
 border-bottom: 1px solid #5F99CF;
 font-size: x-small;
}

.header-left {
 width: 50%;
 text-align: left;
}

.header-right {
 width: 50%;
 text-align: right;
}

.plain-list {
 list-style-type: none;
}

#map {
 border: 2px solid #5F99CF;
 margin-top: 25px;
}

#trip-details-tabs .ui-tabs-panel {
 min-height: 150px;
 border-left: 0;
 border-bottom: 0;
 border-top: 1px solid #5F99CF;
 border-right: 1px solid #5F99CF;
}

#trip-details #sort-segments {
 padding-top: 25px;
}

#trip-info-edit {
 background-color: #CEE3F8;
 border: 1px solid #5F99CF;
 padding: 2px;
}

#sort-segments {
 list-style: none;
 padding: 0;
 margin: 0;
}

#sort-segments li {
 width: 390px;
}

#sort-segments li.edit-mode {
 border: 1px dashed #5F99CF;
 margin-bottom: 5px;
}

#sort-segments li table {
 margin-bottom: 5px;
 margin-left: 5px;
}

#sort-segments li.edit-mode table {
 margin: 5px;
}

#sort-segments li table {
 background-color: #CEE3F8;
 border: 1px solid #5F99CF;
 width: 380px;
 height: 30px;
 cursor: pointer;
}

#sort-segments li .segment-edit {
 background-color: #E6F7D4;
}

#sort-segments li .segment-details {
 font-size: small;
}

#sort-places {
 list-style: none;
 padding: 0;
 margin: 0;
}

#sort-places li {
 width: 410px;
 margin-bottom: 10px;
}

#sort-places li table {
 background-color: #CEE3F8;
 border: 1px solid #5F99CF;
 width: 400px;
 height: 30px;
 margin-bottom: 5px;
 margin-left: 5px;
 cursor: pointer;
}

.ui-placeholder {
 background: #E6F7D4;
}

.ui-effects-transfer {
 border: 2px solid #5F99CF;
}

ul .expand-item {
 font-size: large;
 color: #5F99CF;
 cursor: pointer;
 text-decoration: bold;
}

#trip-list thead {
 background-color: #CEE3F8;
 color: #5F99CF;
 font-size: large;
 text-decoration: bold;
}

#trip-list thead td.operations {
 background-color: white;
}

#trip-list td.firstcolumn {
 padding-left: 20px;
}

#trip-list td.operations {
 text-align: right;
}

#trip-list tr.firstrow td {
 border-top: 1px solid #5F99CF;
}

#trip-list td.lastcolumn {
 border-right: 1px solid #5F99CF;
}
