<h4>Formatting</h4>
<ol>
<li>Separate paragraphs by one or more blank lines.</li>
<li>To create a heading, use dashes to underline it. Like this:
<pre>
My Title
--------
</pre>
</p>
<li>To create a list, use asterisks at the beginning of every element. Like this:
<pre>
* First thing
* Second thing
* Yet another one
</pre>
</li>
<li>To create a link, use the following syntax:<pre>[Google homepage](http://google.com/)</pre></li>
<li>To create <em>italic</em> or <strong>bold</strong> text, use: <code>*italic*</code> and <code>**bold**</code> respectively.</li>
<li>Inline HTML is <strong>not</strong> allowed.</li>
</ol>