<div id="star-rating">
<h4>User ratings</h4>
{% if user.is_anonymous %}
  <img src="/media/images/star_green.png" title="Good" /> <span>{{ entity.ratings.GOOD }}</span>
  <img src="/media/images/star_grey.png" title="Average" /> <span>{{ entity.ratings.AVERAGE }}</span>
  <img src="/media/images/star_red.png" title="Bad" /> <span>{{ entity.ratings.BAD }}</span>
{% else %}
  <a href="/{{ entity.url_prefix }}/{{ entity.id }}/rate/?value={{ RATINGS.GOOD }}" title="Good"><img src="/media/images/star_green.png" /></a>
  <span>{{ entity.ratings.GOOD }}</span>
  <a href="/{{ entity.url_prefix }}/{{ entity.id }}/rate/?value={{ RATINGS.AVERAGE }}" title="Average"><img src="/media/images/star_grey.png" /></a>
  <span>{{ entity.ratings.AVERAGE }}</span>
  <a href="/{{ entity.url_prefix }}/{{ entity.id }}/rate/?value={{ RATINGS.BAD }}" title="Bad"><img src="/media/images/star_red.png" /></a>
  <span>{{ entity.ratings.BAD }}</span> |
  <span>
    {% if user_rating %}
      Your rating:
      {% ifequal user_rating.value RATINGS.BAD %}Bad{% endifequal %}
      {% ifequal user_rating.value RATINGS.AVERAGE %}Average{% endifequal %}
      {% ifequal user_rating.value RATINGS.GOOD %}Good{% endifequal %}
    {% else %}
      Click a star to rate.
    {% endif %}
  </span>
{% endif %}
</div>