{% extends "page.html" %}

{% block content %}

<div class="column span-14 prepend-4 prepend-top">
<h3>{{ accommodation.name }}, {{ accommodation.place.name }}</h3>
  <form action="" method="POST">
    <fieldset>
      {{ form.as_p }}
      <p>
        <input type="submit" class="submit button positive" value="Save" />
        <input type="button" class="button negative" value="Cancel" onclick="javascript:window.location='/accommodations/{{ accommodation.id }}/';" />
      </p>
    </fieldset>
  </form>
</div>
<div class="column span-6 prepend-top last">
<h4>Please read the following before posting:</h4>
<p>This page is meant to provide some general information about this accommodation, like address, phone number or pricing information.</p>
<p>If you want to express your personal opinion about this place, please consider using the star rating or posting a coment.</p>
</div>
{% endblock %}