{% extends "page.html" %}
{% load markup %}
{% load call %}

{% block content %}
<div class="column span-14 prepend-5 prepend-top">
  <h3>{{ accommodation.name }}, <a href="/places/{{ accommodation.place.id }}/">{{ accommodation.place.name }}</a></h3>
  <div>
    {% if accommodation.wiki_content %}
      {{ accommodation.wiki_content|force_escape|urlize|markdown }}
    {% else %}
      {% if not user.is_anonymous %}
        We don't have a description for this accommodation yet, <a href="/accommodations/{{ accommodation.id }}/edit/">care to help</a>?
      {% endif %}
    {% endif %}
  </div>
  <hr />
  {% call "_star_rating.html" with entity=accommodation %}
  <div>
    <h4>Comments</h4>
    {% if not user.is_anonymous %}
      <div>
        <form action="/accommodations/{{ accommodation.id }}/comment/" method="POST">
          <textarea name="comment_content" style="height: 60px;"></textarea><br />
          <input type="submit" class="submit button positive" value="Say it!" />
        </form>
      </div>
      <br />
    {% endif %}
    {% for comment in accommodation.accommodationcomment_set.all %}
      <div>
        <a href="/people/{{ comment.user.username }}">{{ comment.user.username }}</a> said on {{ comment.date_added|date }}:
        {{ comment.content|markdown:"safe" }}
      </div>
    {% empty %}
      <span>No user comments yet!</span>
    {% endfor %}
  </div>
</div>
<div class="column span-3 prepend-2 prepend-top last">
<p>
{% if accommodation.wiki_content and not user.is_anonymous %}
<a href="/accommodations/{{ accommodation.id }}/edit/">Edit</a>
{% endif %}
</p>
<p>

</p>
</div>
{% endblock %}