{% extends "plain.html" %}

{% block htmlbody %}
<div class="container">
  <div class="column span-8 prepend-4 append-12 prepend-top last">
    <h1>backpacked.it</h1>
    <h3>your travel history</h3>
    <form method="POST" action="/account/login/">
      <fieldset>
        <legend>Login</legend>
        {{ form.as_p }}
        <p>
          <input type="submit" class="submit button positive" value="Login" />
          <a href="/account/register/">Register</a>
        </p>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
