{% extends "page.html" %}

{% block htmlhead %}
<script src="{{ MEDIA_URL }}javascript/annotation.js" type="text/javascript"></script>
{% endblock %}

{% block script %}
$(document).ready(init_annotation_edit);
{% endblock %}

{% block content %}
<div class="container">
<div class="column span-10 prepend-4 prepend-top last">
<form method="POST" action="" {% if annotation.manager.edit_content_as_file %}enctype="multipart/form-data"{% endif %}>
<fieldset>
<legend>Edit {{ annotation.content_type_h }}</legend>
{{ form.as_p }}
<p>
<input type="submit" class="submit button positive" value="{% if annotation.id %}Save{% else %}Create{% endif %}" />
<input type="button" class="button negative" value="Cancel" onclick="javascript:window.location='/trips/{{ annotation.trip_id }}/';" />
</p>
</fieldset>
</form>
</div>
</div>
{% endblock %}
