{% extends "base.html" %}

{% block script %}
function init()
{
    $("#annotation-info-edit #id_date").datepicker({dateFormat: date_format_short});
}

$(document).ready(init);
{% endblock %}

{% block body %}
<table>
<tr>
<td width="300px">
<div id="annotation-info-edit" class="edit-box">
<form method="POST" action="">
<table width="100%">
<thead class="edit-box-header"><th><nobr>Edit annotation</nobr></th><td></td></thead>
{{ form }}
</table>
<input type="submit" class="button" value="{% if annotation.id %}Save{% else %}Create{% endif %}" />
<input type="button" class="button cancel" value="Cancel" onclick="javascript:window.location='/trip/{{ annotation.trip.id }}/annotation/all/';" />
</div>
</form>
</td>
</tr>
</table>
{% endblock %}
