{% extends "content.html" %}

{% block htmlhead %}
<script src="{{ MEDIA_URL }}javascript/annotation.js" type="text/javascript"></script>
{% endblock %}

{% block script %}
$(document).ready(function() { init_annotation_list({{ trip.id }}); });
{% endblock %}

{% block title %}
{{ trip.name }}
{% endblock %}

{% block operations %}
<a href="/trips/{{ trip.id }}/">back to trip</a><br />
<a id="new-annotation-link"></a>
{% endblock %}

{% block content %}
<table width="1000px">
<tr>
<td>
<div id="annotation-tabs">
  <ul>
    {% for content_type in accessible_content_type_choices %}
    <li><a href="#content_type_{{ content_type.0 }}" content_type="{{ content_type.0 }}"><span>{{ content_type.1 }}</span></a></li>
    {% endfor %}
  </ul>
  {% for group in annotation_groups %}
  <div id="content_type_{{ group.0 }}">
    {% if group.2 %}
    <table id="annotation-list" class="data-grid" width="900px">
      <thead>
        <td width="30%">Annotation</td>
	<td width="30%">Parent</td>
	<td width="15%">Date</td>
	<td width="15%" class="lastcolumn">Visibility</td>
	<td width="7%" class="operations"></td>
      </thead>
      {% for annotation in group.2 %}
      <tr{% if forloop.first %} class="firstrow"{% endif %}>
        <td class="firstcolumn">{{ annotation.manager.render_short }}</td>
	<td>{{ annotation.parent_name }}</td>
        <td>{{ annotation.date|date }}</td>
	<td class="lastcolumn">{{ annotation.visibility_h }}</td>
	<td class="operations">
	  <a href="/trips/{{ trip.id }}/annotations/{{ annotation.id }}/edit/">edit</a>
          <a href="/trips/{{ trip.id }}/annotations/{{ annotation.id }}/delete/" onclick="javascript:return confirm('Really delete {{ annotation.name }}?');">delete</a>
	</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No {{ group.1 }} annotations. <a href="/trips/{{ trip.id }}/annotations/new/?content_type={{ group.0 }}">Add one</a>.</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
</td>
</tr>
</table>
{% endblock %}
