<span class="expand-item" onclick="javascript:toggle_details('annotation_details_{{ annotation.id }}');">
  <span id="link_annotation_details_{{ annotation.id }}">+</span>
  Accomodation {% if annotation.date %}({{ annotation.date|date }}){% endif %}
</span>
<ul id="annotation_details_{{ annotation.id }}" class="plain-list" style="display: none;">
{% if content.name %}<li>Name: {{ content.name }}</li>{% endif %}
{% if content.type %}<li>Type: {{ content.type_h }}</li>{% endif %}
{% if content.room_type %}<li>Room type: {{ content.room_type_h }}</li>{% endif %}
{% if content.URL %}<li>URL: <a href="{{ content.URL }}">{{ content.URL }}</a></li>{% endif %}
{% if content.email %}<li>Email: <a href="mailto:{{ content.email }}">{{ content.email }}</a></li>{% endif %}
{% if content.address %}<li>Address: {{ content.address }}</li>{% endif %}
{% if content.phone_number %}<li>Phone number: {{ content.phone_number }}</li>{% endif %}
{% if content.rating %}<li>Rating: {{ content.rating_h }}</li>{% endif %}
{% if content.comments %}<li>Comments: <br /> {{ content.comments|linebreaksbr }}</li>{% endif %}
</ul>