{% extends "base.html" %}

{% block htmlhead %}
<script src="{{ MEDIA_URL }}javascript/annotation.js" type="text/javascript"></script>
{% endblock %}

{% block script %}
$(document).ready(init_annotation_edit);
{% endblock %}

{% block body %}
<table>
<tr>
<td width="300px">
<div id="annotation-info-edit" class="edit-box">
<form method="POST" action="" {% if annotation.manager.edit_content_as_file %}enctype="multipart/form-data"{% endif %}>
<table width="100%">
<thead class="edit-box-header"><th><nobr>Edit annotation</nobr></th><td></td></thead>
{{ form }}
</table>
<input type="submit" class="button" value="{% if annotation.id %}Save{% else %}Create{% endif %}" />
<input type="button" class="button cancel" value="Cancel" onclick="javascript:window.location='/trips/{{ annotation.trip.id }}/annotations/';" />
</div>
</form>
</td>
</tr>
</table>
{% endblock %}
