{% extends "plain.html" %}
{% block body %}
<table class="header">
  <tr>
    <td class="header-left">
      <ul class="flat-list">
        {% if not request.user.is_anonymous %}  
        <li>
          <a href="/trip/list/">My trips</a>
        </li>
        <li>
          <a href="/account/details/">My details</a>
        </li>
        {% endif %}
      </ul>
    </td>
    <td class="header-right">
      <span>
        {% if not request.user.is_anonymous %}
            Logged in as {{ user.username }}.
        {% endif %}
      </span>
      <ul class="flat-list">
        {% if not request.user.is_anonymous %}
        <li>
          <a href="/account/logout/">Logout</a>
        </li>
        {% endif %}
      </ul>
    </td>
</table>
<div class="clearleft"></div>
{% block content %}{% endblock %}
{% endblock %}
