{% extends "plain.html" %}
{% block htmlbody %}
<table class="header">
  <tr>
    <td class="header-left">
      <ul class="flat-list">
        {% if not user.is_anonymous %}
        <li>
          <a href="/trip/all/">My trips</a>
        </li>
        <li>
          <a href="/account/details/">My details</a>
        </li>
        {% endif %}
      </ul>
    </td>
    <td class="header-right">
      <span>
        {% if not user.is_anonymous %}
            Logged in as {{ user.username }}.
        {% endif %}
      </span>
      <ul class="flat-list">
        <li>
        {% if not user.is_anonymous %}
            <a href="/account/logout/">Logout</a>
        {% else %}
            <a href="/">Login</a>
        {% endif %}
        </li>
      </ul>
    </td>
</table>
{% block body %}{% endblock %}
{% endblock %}
