{% extends "page.html" %}

{% block content %}
<div class="column span-15 prepend-5 prepend-top">
  <h3>Flickr support in backpacked.it</h3>
  <h4>How it works?</h4>
  <ol>
    <li>If you don't have a Flickr account yet, <a href="http://flickr.com/">create one</a>.</li>
    <li>Go to your <a href="/account/profile/">profile</a> and on the "Connect" tab set your Flickr user ID. Use <a href="http://idgettr.com/">idGettr</a> to find out what your user ID is.</li>
    <li>That's it. Now whenever you go on a trip just post anything you want to Flickr. If you want a photo to be associated to your trip, just tag it with "backpackedit:trip:TRIP_ID" (replace TRIP_ID with <a href="/help/faq/#trip-id">the ID of your trip</a>) and it will show up on your trip's page, on the "Photos" tab.</li>
  </ol>
</div>
{% endblock %}