{% extends "page.html" %}

{% block content %}
<h2>What is backpacked.it?</h2>
<p>backpacked.it is your travel history. It's not a travel blog nor a photo sharing site. It's a place where you keep all the information related to your travels.</p>
<h2>What information can I store on backpacked.it?</h2>
<p>For each of your trips, you store the points you've been through. Then you can attach other information to each point or segment between two points: notes, information about hotels you've stayed in, trains you've taken, links to your pictures or blog posts and more.</p>
<h2>Why would I spend time to store all this information on backpacked.it?</h2>
<p>Everything is optional. The minimum you need to enter about a trip is the start and end date. There are many reasons you may want to store more details about your trips. Maybe you liked a hotel and want to remember it. Maybe you want to track how much money you spend when traveling. Maybe you want to sit down 5 years from now and remember where you've been and what you did. Each of us have our own reasons for traveling as well as our own reasons for writing down our experiences. backpacked.it doesn't stay in your way.</p>
<h2>What about privacy?</h2>
<p>Not only everything is optional, but the privacy settings can be customized for every piece of information that you store. For example you can share your trips with everybody, but make the pictures only visible to your friends and your expenses only to yourself.</p>
<h2>Can I upload pictures?</h2>
<p>No. We believe there are some great photo sharing websites out there and we want to give you choice. Upload your pictures to Flickr, Picasa, etc., then link them from your trip's page.</p>
<h2>I'm using Twitter to send updates while on the way. How does backpacked.it play with Twitter?</h2>
<p>Integrating Twitter updates in your trip's page will be available soon. Twitter is a great tool to send updates, especially from remote areas with no internet connection. :)</p>
<h2>Sounds nice. Is it free?</h2>
<p>It's free and it will always stay free. We are planning to add some more advanced features which will require a payed membership, but the free version should be more than enough for most travelers.</p>
<h2>I like it. What now?</h2>
<p><a href="/account/register/">Create an account</a>. It only takes 5 seconds! Then start entering your trips. Even if you didn't travel recently, you can still enter some of your old trips.</p>
{% endblock %}