{% extends "page.html" %}

{% block content %}
<div class="column span-15 prepend-5 prepend-top">
<h3>How it started</h3>
<p>In April 2008 I returned from a train trip to <a href="http://en.wikipedia.org/wiki/Xinjiang">Xinjiang</a>, in Western China. During that trip I had used my new Leadtek LR 9553D GPS data logger to record most of my route, hoping it will serve as a nice memory years later, but also hoping I will be able to easily share it with my friends.</p>
<p>Well, guess what. I found no easy way share my GPS data, except from maybe mailing it to all my friends. However, I realised that sharing one week worth of GPS logs (yes, that's how long it took me to cover the ~11.000 km from Beijing to Kashgar and back) is not only impractical, but unnecessary! Most of my friends wouldn't have cared about my exact position in every second of my trip anyway, but they would have been really curious to have a nice overview of my trip.</p>
<p><img src="{{ MEDIA_URL }}/images/static/beijing-ulaanbaatar-moskva.jpg" align="right" title="Label on the Beijing-Moscow train that I took in summer 2008 as part of what is trip number 1 on traveli.st." /> That's when the idea was born. The hard part, the implementation, is the result of countless hours of work done from my apartment and from a couple of nice coffee shops, mostly in Beijing. I was using traveli.st for my own trips since around the end of 2008 and opened it to the public in early 2009.</p>
<h3>Who's behind it</h3>
<p>A Romanian guy who lives in Beijing since July 2007. I love writing software and traveling. Are you on Twitter? <a href="http://twitter.com/ibz/">Follow me</a>. And here's <a href="http://traveli.st/people/ibz/">my traveli.st profile</a>.</p>
<p align="center"><img src="{{ MEDIA_URL }}/images/static/ibz.jpg" title="Me, hiking in the mountains of the Santo Ant&atilde;o island in Cape Verde in spring 2007." /></p>
</div>
{% endblock %}