{% extends "page.html" %}

{% block content %}
<div class="column span-15 prepend-5 prepend-top">
  <h3>Frequently asked questions</h3>
  <p>
    Q: <a name="trip_id">What is the ID of a trip?</a><br />
    A: The ID of a trip is a number that uniquely identifies the trip within traveli.st. To find out what the ID of a trip is, go to the trip's page and look at your browser's address bar. It's the number you see just after "/trips/" and before the dash.<br /> <img src="{{ MEDIA_URL }}images/static/help/trip-id.png" alt="" /> 
  </p>
  <p>
    Q: <a name="twitter">Does traveli.st integrate with Twitter?</a><br />
    A: Yes. See <a href="/help/twitter/">this</a>. 
  </p>
  <p>
    Q: <a name="flickr">Does traveli.st integrate with Flickr?</a><br />
    A: Yes. See <a href="/help/flickr/">this</a>. 
  </p>
</div>
{% endblock %}