{% extends "page.html" %}

{% block content %}
<div class="column span-15 prepend-5 prepend-top">
<h3>Twitter support in traveli.st</h3>
<p><a href="http://twitter.com/">Twitter</a> is a very useful tool for travelers. You can easily post short status messages about your whereabouts for your friends to see. Not only you can post from the web, but also from a mobile phone - even though SMS.</p>
<p>One downside of Twitter is that your status messages get quickly buried in piles of status messages send by others and there is no easy way to browse old status messages - Twitter is focused on the present.</p>
<p>Since traveli.st is all about your travel <strong>history</strong>, it provides an easy way to get your tweets that are related to a trip directly on a trip's page. In that way, you can see your tweets years later when browsing through your trips.</p>
<h4>How it works?</h4>
<ol>
  <li>If you don't have a Twitter account yet, <a href="http://twitter.com/">create one</a>.</li>
  <li>Go to your <a href="/account/profile/">profile</a> and on the "Connect" tab set your Twitter username.</li>
  <li>
    You will be asked if you want to import your old tweets as well.
    <ul>
      <li>If you say "yes", your existing tweets will be scanned and added to your existing trips, based on their date. Please allow some time for this operation to complete, especially if you have thousends of tweets.</li>
      <li>If you say "no", nothing will happen for now.</li>
    </ul>
  </li>
  <li>That's it. Now whenever you go on a trip just post anything you want to Twitter. If you want your tweet to be associated to your trip, just add "#trip" in your tweet's content and it will show up on your trip's page, on the "Notes" tab.</li>
</ol>
</div>
{% endblock %}