{% extends "page.html" %}

{% block content %}
<div class="column span-15 prepend-5 prepend-top">
<h3>Staying in touch</h3>
{% if not user.is_anonymous %}
  <p>If you want to report a problem or make a suggestion, please use <a href="/suggestions/new/">this form</a>.</p>
{% endif %}
<p>traveli.st has both <a href="http://blog.traveli.st/">a blog</a> and <a href="http://twitter.com//">a twitter account</a>. News regarding the project are posted on both. Feedback is of course welcome in the form of comments / replies.</p>
<p>If you want to contact traveli.st by email, use contact[at]traveli.st.</p>
<p align="center"><img src="{{ MEDIA_URL }}images/static/twitter-logo.png" /></p>
</div>
{% endblock %}