{% extends "page.html" %}

{% block content %}

<div class="column span-14 prepend-4 prepend-top">
<h3>{{ place.display_name }}</h3>
  <form action="" method="POST">
    <fieldset>
      {{ form.as_p }}
      <p>
        <input type="submit" class="submit button positive" value="Save" />
        <input type="button" class="button negative" value="Cancel" onclick="javascript:window.location='/places/{{ place.id }}/';" />
      </p>
    </fieldset>
  </form>
</div>
<div class="column span-6 prepend-top last">
<h4>Please read the following before posting:</h4>
<p>This page is not meant to replace Wikipedia or Wikitravel. Rather than pasting text from this city's Wikipedia page, better just place a link to the Wikipedia page itself. Links to other pages with useful information about this place are also welcome.</p>
<p>If you have valuable tips or information to share, please consider contributing to Wikipedia or Wikitravel.</p>
<p>Don't write about hotels in this city. That information goes on the pages of the individual hotels.</p>
<p>If you want to express your personal opinion about this place, please consider using the star rating or posting a coment.</p>
</div>
{% endblock %}