{% extends "page.html" %}

{% block content %}

<div class="column span-14 prepend-4 prepend-top">
<h3>{{ place.display_name }}</h3>
  <form action="" method="POST">
    <fieldset>
      {{ form.as_p }}
      <p>
        <input type="submit" class="submit button positive" value="Save" />
        <input type="button" class="button negative" value="Cancel" onclick="javascript:window.location='{{ place.get_absolute_url }}';" />
      </p>
    </fieldset>
  </form>
</div>
<div class="column span-6 prepend-top last">
{% include "_help_wiki.html" %}
{% include "_help_wiki_syntax.html" %}
</div>
{% endblock %}