{% extends "page.html" %}
{% load markup %}
{% load call %}

{% block content %}
<div class="column span-14 prepend-5 prepend-top">
  <h3>{{ place.display_name }}</h3>
  <div>
    {% if place.wiki_content %}
      {{ place.wiki_content|markdown:"safe" }}
    {% else %}
      {% if not user.is_anonymous %}
        We don't have a description for this place yet, <a href="/places/{{ place.id }}/edit/">care to help</a>?
      {% endif %}
    {% endif %}
  </div>
  <hr />
  {% call "_star_rating.html" with entity=place %}
  <div>
    <h4>Comments</h4>
    <div>
      <form action="/places/{{ place.id }}/comment/" method="POST">
        <textarea name="comment_content" style="height: 60px;"></textarea><br />
        <input type="submit" class="submit button positive" value="Say it!" />
      </form>
    </div>
    <br />
    {% for comment in place.placecomment_set.all %}
      <div>
        <a href="/people/{{ comment.user.username }}">{{ comment.user.username }}</a> said on {{ comment.date_added|date }}:
        {{ comment.content|markdown:"safe" }}
      </div>
    {% endfor %}
  </div>
</div>
<div class="column span-3 prepend-2 prepend-top last">
<p>
{% if place.wiki_content and not user.is_anonymous %}
<a href="/places/{{ place.id }}/edit/">Edit</a>
{% endif %}
</p>
<p>

</p>
</div>
{% endblock %}