{% extends "base.html" %}

{% block content %}

<div>

{{ trip.name }}
{{ trip.start_date }}
{{ trip.end_date }}

{% ifequal user.id trip.user_id %}
<span>my</span>
{% else %}
<span>{{ trip.user.username }}</span>
{% endifequal %}

{% ifequal trip.user_id user.id %}
<a href="/trip/{{ trip.id }}/edit/">Edit</a>
{% endifequal %}
</div>

<div>
Points:
<ul>
{% for point in trip.point_set.all %}
    <li>{{ point.name }} <a href="/trip/{{ trip.id }}/point/{{ point.id }}/annotation/list/">Annotations</a></li>
{% endfor %}
</ul>
</div>

<div>
Segments:
<ul>
{% for segment in trip.segment_set.all %}
    <li>{{ segment.p1.name }} - {{ segment.p2.name }} <a href="/trip/{{ trip.id }}/segment/{{ segment.id }}/annotation/list/">Annotations</a></li>
{% endfor %}
</ul>
</div>

<a href="/trip/list">List</a>

{% endblock %}
