{% extends "base.html" %}

{% block content %}

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ settings.GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}javascript/lib/markermanager.js" type="text/javascript"></script>

<table>
<tr>
<td>

<div class="trip-details">

{{ trip.name }}
{{ trip.start_date }}
{{ trip.end_date }}

{% ifequal user.id trip.user_id %}
<a class="navigation" href="/trip/{{ trip.id }}/edit/">Edit</a>
{% else %}
<span>{{ trip.user.username }}</span>
{% endifequal %}

</div>

<br />

<div class="trip-details">
Trip segments:
<ul class="plain-list">
{% for segment in segments %}
    <li>{{ forloop.counter }}. <a href="/trip/{{ trip.id }}/segment/{{ segment.id }}/annotation/list/">{{ segment.p1.name }} - {{ segment.p2.name }}</a></li>
{% endfor %}
</ul>
</div>

<br />

<div class="trip-details">
Trip points:
<ul class="plain-list">
{% for point in points %}
    <li><a href="/trip/{{ trip.id }}/point/{{ point.id }}/annotation/list/">{{ point.name }}</a></li>
{% endfor %}
</ul>
</div>

</td>

<td>
  <div id="map" style="width: 500px; height: 300px"></div>
  <script type="text/javascript">
      var point_data = [
      {% for point in trip.point_set.all %}
          [{{ point.coords.coords.0 }}, {{ point.coords.coords.1 }}, "{{ point.name }}"]
          {% if not forloop.last %},{% endif %}
      {% endfor %}
      ];
      $(document).ready(function() { initTripMap('map', point_data); });
      $(document).unload(function() { cleanupMap(); });
  </script>
</td>

</tr>
</table>

<a class="navigation" href="/trip/list">List</a>

{% endblock %}
