{% extends "page.html" %}

{% load cachedfile %}

{% block htmlhead %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ settings.GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}{% cachedfile "javascript/c/google-maps-all.js" %}" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}{% cachedfile "javascript/c/trip.js" %}" type="text/javascript"></script>
{% endblock %}

{% block script %}
$(function() { init_trip({id:{{ trip.id }}, start_date:"{{ trip.start_date|default:"" }}", end_date:"{{ trip.end_date|default:"" }}"}, {% if trip.point_set.count %}true{% else %}false{% endif %}, {% ifequal trip.user user %}true{% else %}false{% endifequal %}); });
$(document).unload(cleanupMap);
{% endblock %}

{% block content %}
<div class="column span-10 prepend-top append-bottom">
  <h2>{{ trip.name }}</h2>
</div>
<div id="trip-info" class="column span-7 prepend-top append-bottom">
  {% ifequal trip.status "FUTURE" %}Starts on{% else %}Started on{% endifequal %}: {{ trip.start_date|date }}<br />
  {% ifequal trip.status "PAST" %}Ended on{% else %}Ends on{% endifequal %}: {{ trip.end_date|date }}<br />
  Owned by: {% ifequal user.id trip.user_id %}me{% else %}<a href="/people/{{ trip.user.username }}/">{{ trip.user.username }}</a>{% endifequal %}<br />
</div>
<div class="column span-7 prepend-top append-bottom last right">
  {% ifequal user.id trip.user_id %}
  <a href="/trips/{{ trip.id }}/edit/">edit trip</a><br />
  <a href="javascript:delete_trip({{ trip.id }});">delete trip</a><br />
  {% endifequal %}
</div>
<hr />
<div id="trip-activity" style="display: none;"><img src="{{ MEDIA_URL }}images/ajax.gif" /></div>
<div id="trip-details" class="column span-6 prepend-top"></div>
<div class="column span-18 prepend-top last"><div id="map"></div></div>
{% endblock %}
