<script src="{{ MEDIA_URL }}javascript/trip.js" type="text/javascript"></script>
<script type="text/javascript">
var last_id = 0;
var points = {};
$(document).ready(function()
                  {
                      init_trip_points([
                                       {% for p in points %}
                                       {id: {{ p.id }}, name: "{{ p.name }}", lat: {{ p.coords.coords.0 }}, lng: {{ p.coords.coords.1 }},
                                        date_arrived: "{{ p.date_arrived|default:"" }}", date_left: "{{ p.date_left|default:"" }}",
                                        visited: {% if p.visited %}true{% else %}false{% endif %} }{% if not forloop.last %},{% endif %}
                                       {% endfor %}
                                       ]);
                  });
</script>
<div id="edit-points" class="edit-box">
<div class="edit-box-header">Points</div>
<ul id="sort-points" class="sortable-list">
</ul>

<ul style="display: none;">
  <li id="point-template">
    <table class="point-view">
      <tr>
	<td><span class="point-name"></span></td>
	<td align="right"><a class="point-edit-link">edit</a></td>
      </tr>
      <tr>
	<td><span class="point-details"></span></td>
	<td align="right"><a class="point-delete-link">delete</a></td>
      </tr>
    </table>
    <table class="point-edit" style="display: none;">
      <tr>
	<td>
	  <label>Arrived:</label><input type="text" class="date-arrived" size="10" />
	  <label>Left:</label><input type="text" class="date-left" size="10" />
	</td>
	<td align="right"><input type="button" class="point-edit-save button" value="save" /></td>
      </tr>
      <tr>
	<td><input type="checkbox" class="visited" value="visited" /><label class="visited-label">visited</label></td>
	<td align="right"><input type="button" class="point-edit-cancel button cancel" value="cancel" /></td>
      </tr>
    </table>
  </li>
</ul>

<input type="text" id="new-place-name" />
<input type="hidden" id="new-place-id" />
<input type="hidden" id="new-place-coords" />
<input type="button" class="button" value="Add" onclick="javascript:add_new_point();" />

<p>
<input type="button" class="button" value="Save" onclick="javascript:trip_points_save({{ trip.id }});" />
<input type="button" class="button cancel" value="Cancel" onclick="javascript:trip_points_cancel({{ trip.id }});" />
</p>
</div>