<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="{{ MEDIA_URL }}javascript/trip.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function()
                  {
                      init_trip_details([{% for p in points %}[{{ p.coords.0 }}, {{ p.coords.1 }}, "{{ p.name }}"]{% if not forloop.last %},{% endif %}{% endfor %}]);
                      $("#trip-details-tabs").show();
                  });
</script>
</head>
<body>
{% load call %}
<div id="trip-details-tabs" style="display: none;">
<ul>
  <li><a href="#points"><span>Points</span></a></li>
  <li><a href="#segments"><span>Segments</span></a></li>
  <li><a href="#photos"><span>Photos</span></a></li>
</ul>

<div id="points">
  {% ifequal user.id trip.user_id %}
  <a href="javascript:edit_points({{ trip.id }});">edit points</a>
  {% endifequal %}
  <ul class="plain-list">
    {% for point in points %}
    <li>
      <span class="expand-item" onclick="javascript:toggle_details('point_{{ forloop.counter }}')">
        <span id="link_point_{{ forloop.counter }}">+</span>
        {{ point.name }} {% if point.visited %}(visited){% endif %}
      </span>
      <ul id="point_{{ forloop.counter }}" class="plain-list" style="display: none;">
        {% call "_trip_details_annotation_types.html" with choices=point_annotation_type_choices point_id=point.id segment=0 %}
        {% if point.date_arrived or point.date_left %}
        <li>{% if point.date_arrived %}{{ point.date_arrived|date }}{% else %}?{% endif %} - {% if point.date_left %}{{ point.date_left|date }}{% else %}?{% endif %}</li>
        {% endif %}
        {% call "_trip_details_annotations.html" with annotations=point.annotations %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="segments">
  <ul class="plain-list">
    {% for segment in segments %}
    <li>
      <span class="expand-item" onclick="javascript:toggle_details('segment_{{ forloop.counter }}')">
        <span id="link_segment_{{ forloop.counter }}">+</span>
          {{ segment.p1_name }} - {{ segment.p2_name }}
      </span>
      <ul id="segment_{{ forloop.counter }}" class="plain-list" style="display: none;">
        {% call "_trip_details_annotation_types.html" with choices=segment_annotation_type_choices point_id=segment.id segment=1 %}
        <li>Length: {{ segment.length|floatformat:2 }} km</li>
        {% call "_trip_details_annotations.html" with annotations=segment.annotations %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="photos">
  {% ifequal user.id trip.user_id %}
    <a href="/trips/{{ trip.id }}/annotations/new/?content_type=3">add photos</a>
  {% endifequal %}
  <ul class="plain-list">
    {% call "_trip_details_annotations.html" with annotations=trip_photos %}
  </ul>
</div>
</div>
</body>
</html>