{% extends "content.html" %}

{% block script %}
var last_id = 0;

function add_place(place_id, name)
{
    var id = last_id++;
    var li = $("#place-template").clone(true).attr({id: "place_" + id, place_id: place_id, style: ""});
    li.find(".place-name").text(name);
    li.find(".place-delete-link").attr('href', "javascript:delete_place(" + id + ");");
    $("#sort-places").append(li);
}

function add_new_place()
{
    var name = $("#new-place-name").val();
    var place_id = $("#new-place-id").val();
    if(place_id == undefined || place_id == "")
    {
        alert("Please fill in the place name.");
        return;
    }

    $("#new-place-name,#new-place-id").val("");

    add_place(place_id, name);
}

function delete_place(id)
{
    $("#place_" + id).remove();
}

function save()
{
    var place_ids = $("#sort-places").sortable('toArray', "place_id");
    $.post("/trip/{{ trip.id }}/edit/create-segments/",
           {places: place_ids.join(",")},
           function(data) { window.location = "/trip/{{ trip.id }}/"; });
}

function init()
{
    $("#sort-places").sortable({revert: true,
                                placeholder: 'ui-placeholder'});
    autoCompletePlace("#new-place-name", "#new-place-id");
}

$(document).ready(init);
{% endblock %}

{% block title %}
Please enter the points you've passed through
{% endblock %}

{% block operations %}
<input type="button" class="button" value="save" onclick="javascript:save();" />
{% endblock %}

{% block content %}

<ul id="sort-places">
</ul>

<ul style="display: none;">
  <li id="place-template">
    <table>
      <tr>
	<td><span class="place-name"></span></td>
	<td align="right"><a class="place-delete-link">delete</a></td>
      </tr>
    </table>
  </li>
</ul>

<input type="text" id="new-place-name" />
<input type="hidden" id="new-place-id" />
<input type="button" class="button" value="Add" onclick="javascript:add_new_place();" />

{% endblock %}
