<div id="trip-details-tabs">
  <ul>
    <li><a href="#points"><span>Points</span></a></li>
    <li><a href="#segments"><span>Segments</span></a></li>
    <li><a href="#pictures"><span>Pictures</span></a></li>
  </ul>

<div id="points">
  <ul class="plain-list">
    {% for point in points %}
    <li>
      {% if point.annotation_count %}
      <span onclick="javascript:toggle_annotations(point_{{ forloop.counter }}')">
        <span id="link_point_{{ forloop.counter }}" class="expand-item">+</span>
        {{ point.name }}
      </span>
      <ul id="point_{{ forloop.counter }}" class="plain-list" style="display: none;">
        {% for annotation in point.annotation_set.all %}
        <li>{{ annotation.render_short }}</li>
        {% endfor %}
      </ul>
      {% else %}
      {{ point.name }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

<div id="segments">
  <ul class="plain-list">
    {% for segment in segments %}
    <li>
      <span onclick="javascript:toggle_annotations('segment_{{ forloop.counter }}')">
        <span id="link_segment_{{ forloop.counter }}" class="expand-item">+</span>
          {{ segment.p1.name }} - {{ segment.p2.name }}
      </span>
      <ul id="segment_{{ forloop.counter }}" class="plain-list" style="display: none;">
	{% if segment.start_date %}<li>Start date: {{ segment.start_date|date }}</li>{% endif %}
	{% if segment.end_date %}<li>End date: {{ segment.end_date|date }}</li>{% endif %}
	{% if segment.transportation_method %}<li>Transportation method: {{ segment.transportation_method_h }}</li>{% endif %}
	<li>Length: {{ segment.length|floatformat:2 }} km</li>
	{% for annotation in segment.annotation_set.all %}
	<li>{{ annotation.render_short }}</li>
	{% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="pictures">
  TODO
</div>
</div>

<script type="text/javascript">
function toggle_annotations(id)
{
    var ul = document.getElementById(id);
    ul.style.display = ul.style.display == 'none' ? 'block' : 'none';
    var a = document.getElementById("link_" + id);
    a.textContent = ul.style.display == 'none' ? "+" : "-";
}

function init()
{
    $("#trip-details-tabs > ul").tabs();

    var point_data = [
    {% for segment in segments %}
        [{{ segment.p1.coords.coords.0 }}, {{ segment.p1.coords.coords.1 }}, "{{ segment.p1.name }}"],
        [{{ segment.p2.coords.coords.0 }}, {{ segment.p2.coords.coords.1 }}, "{{ segment.p2.name }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
    ];
    initTripMap("map", point_data, 'segments');
}

$(document).ready(init);
</script>
