<script type="text/javascript">
var last_id = 0;

var segment_data = {};

function add_segment(segment_id, p1_name, p2_name)
{
    var id = last_id++;
    var li = $("#segment-template").clone(true).attr({id: "segment_" + id, segment_id: segment_id, style: ""});
    li.find(".segment-points").text(p1_name + " - " + p2_name);
    li.find(".segment-edit-link").attr('href', "javascript:edit_segment(" + id + ");");
    li.find(".segment-delete-link").attr('href', "javascript:delete_segment(" + id + ");");
    li.find(".segment-edit-save").attr('onclick', "javascript:edit_segment_save(" + id + ");");
    li.find(".segment-edit-cancel").attr('onclick', "javascript:edit_segment_cancel(" + id + ");");
    li.find(".start-date,.end-date").datepicker({dateFormat: date_format_short});
    $("#sort-segments").append(li);

    return id;
}

function add_new_segment()
{
    var p1_name = $("#new_segment_p1_name").val();
    var p1_id = $("#new_segment_p1_id").val();
    var p1_coords = $("#new_segment_p1_coords").val().split(",");
    var p1_lat = parseFloat(p1_coords[0]);
    var p1_lng = parseFloat(p1_coords[1]);
    var p2_name = $("#new_segment_p2_name").val();
    var p2_id = $("#new_segment_p2_id").val();
    var p2_coords = $("#new_segment_p2_coords").val().split(",");
    var p2_lat = parseFloat(p2_coords[0]);
    var p2_lng = parseFloat(p2_coords[1]);
    var segment_id = "newsegment_" + p1_id + "x" + p2_id;

    if(p1_id == undefined || p1_id == "" || p2_id == undefined || p2_id == "")
    {
        alert("Please fill in the two points.");
        return;
    }

    $("#new_segment_p1_name,#new_segment_p1_id,#new_segment_p1_coords,#new_segment_p2_name,#new_segment_p2_id,#new_segment_p2_coords").val("");

    var id = add_segment(segment_id, p1_name, p2_name);
    set_segment_data(id, {start_date: "", end_date: "", transportation_method: 0, modified: true,
                          p1_lat: p1_lat, p1_lng: p1_lng, p1_name: p1_name,
                          p2_lat: p2_lat, p2_lng: p2_lng, p2_name: p2_name});

    refresh_map();
}

function edit_segment(id)
{
    var segment = $("#segment_" + id);
    var edit = segment.find(".segment-edit");
    edit.show();
    segment.find(".segment-view").effect('transfer', {to: edit}, 500);
    segment.addClass("edit-mode");
    var data = segment_data[id];
    edit.find(".start-date").val(data.start_date);
    edit.find(".end-date").val(data.end_date);
    edit.find(".transportation-method").val(data.transportation_method);
}

function edit_segment_save(id)
{
    var segment = $("#segment_" + id).removeClass("edit-mode");
    var edit = segment.find(".segment-edit").hide();
    var start_date = edit.find(".start-date").val();
    var end_date = edit.find(".end-date").val();
    var transportation_method = edit.find(".transportation-method").val();

    set_segment_details(id, start_date, end_date, transportation_method);
    set_segment_data(id, {start_date: start_date, end_date: end_date, transportation_method: transportation_method, modified: true});
}

function edit_segment_cancel(id)
{
    $("#segment_" + id).removeClass("edit-mode").find(".segment-edit").hide();
}

function set_segment_details(id, start_date, end_date, transportation_method)
{
    var start_date_h = convertDate("s", "l", start_date);
    var end_date_h = convertDate("s", "l", end_date);
    var details;
    if(start_date_h != "" || end_date_h != "")
    {
        details = (start_date != "" ? start_date_h : "?") + " - " + (end_date != "" ? end_date_h : "?");
    }
    if(parseInt(transportation_method))
    {
        var transportation_method_h = transportation_methods[parseInt(transportation_method)];
        details += ", " + transportation_method_h;
    }
    $("#segment_" + id).find(".segment-details").text(details);
}

function set_segment_data(id, dict)
{
    if(!(id in segment_data))
    {
        segment_data[id] = {};
    }
    $.each(dict,
           function(k, v)
           {
               segment_data[id][k] = v;
           });
}

function delete_segment(id)
{
    $("#segment_" + id).remove();
    refresh_map();
}

function trip_segments_save()
{
    var segment_strs = [];
    $.each($("#sort-segments").sortable('toArray'),
           function()
           {
               var id = parseInt(this.substr(this.indexOf("_") + 1));
               var segment_id = $("#segment_" + id).attr("segment_id");
               var segment = segment_data[id];
               var segment_str = "id=" + segment_id;
               if(segment.modified)
               {
                   segment_str += ",";
                   segment_str += "start_date=" + segment.start_date + ",";
                   segment_str += "end_date=" + segment.end_date + ",";
                   segment_str += "transportation_method=" + segment.transportation_method;
               }
               segment_strs.push(segment_str);
           });
    var segments_str = segment_strs.join(";");

    $.post("/trip/{{ trip.id }}/segments/",
           {segments: segments_str},
           function(data) { segment_strs.length ? update_trip_details() : edit_points(); });
}

function trip_segments_cancel()
{
    update_trip_details();
}

function init_segments()
{
    {% for s in segments %}
    var id = add_segment("oldsegment_{{ s.id }}", "{{ s.p1.name }}", "{{ s.p2.name }}");
    set_segment_details(id, "{{ s.start_date }}", "{{ s.end_date }}", {{ s.transportation_method }});
    set_segment_data(id,
                     {start_date: "{{ s.start_date|default:"" }}", end_date: "{{ s.end_date|default:"" }}",
                      transportation_method: {{ s.transportation_method }}, modified: false,
                      p1_lat: {{ s.p1.coords.coords.0 }}, p1_lng: {{ s.p1.coords.coords.1 }}, p1_name: "{{ s.p1.name }}",
                      p2_lat: {{ s.p2.coords.coords.0 }}, p2_lng: {{ s.p2.coords.coords.1 }}, p2_name: "{{ s.p2.name }}"});
    {% endfor %}
}

function init()
{
    $("#sort-segments").sortable({revert: true, placeholder: "ui-placeholder"});
    init_segments();
    refresh_map();
    autoCompletePlace("#new_segment_p1_name", "#new_segment_p1_id", "#new_segment_p1_coords");
    autoCompletePlace("#new_segment_p2_name", "#new_segment_p2_id", "#new_segment_p2_coords");
}

function refresh_map()
{
    var point_data = $.map($("#sort-segments").sortable('toArray'),
                           function(id)
                           {
                               var segment = segment_data[parseInt(id.substr(id.indexOf("_") + 1))];
                               return [[segment.p1_lat, segment.p1_lng, segment.p1_name],
                                       [segment.p2_lat, segment.p2_lng, segment.p2_name]];
                           });
    initTripMap("map", point_data, 'segments');
}

$(document).ready(init);
</script>
<div id="edit-segments">
<div class="edit-header">Segments</div>
<ul id="sort-segments">
</ul>

<ul style="display: none;">
  <li id="segment-template">
    <table class="segment-view">
      <tr>
	<td><span class="segment-points"></span></td>
	<td align="right"><a class="segment-edit-link">edit</a></td>
      </tr>
      <tr>
	<td><span class="segment-details"></span></td>
	<td align="right"><a class="segment-delete-link">delete</a></td>
      </tr>
    </table>
    <table class="segment-edit" style="display: none;">
      <tr>
	<td>
	  <label>Start, end date:</label>
	  <input type="text" class="start-date" size="10" />
	  <input type="text" class="end-date" size="10" />
	</td>
	<td align="right"><input type="button" class="segment-edit-save button" value="save" /></td>
      </tr>
      <tr>
	<td>
	  <label>Transportation method:</label>
	  <select class="transportation-method">
	    {% for transportation_method in transportation_method_choices %}
	    <option value="{{ transportation_method.0 }}">{{ transportation_method.1 }}</option>
	    {% endfor %}
	  </select>
	</td>
	<td align="right"><input type="button" class="segment-edit-cancel button cancel" value="cancel" /></td>
      </tr>
    </table>
  </li>
</ul>

<input type="text" id="new_segment_p1_name" />
<input type="hidden" id="new_segment_p1_id" />
<input type="hidden" id="new_segment_p1_coords" />
<input type="text" id="new_segment_p2_name" />
<input type="hidden" id="new_segment_p2_id" />
<input type="hidden" id="new_segment_p2_coords" />
<input type="button" class="button" value="Add" onclick="javascript:add_new_segment();" />

<p>
<input type="button" class="button" value="Save" onclick="javascript:trip_segments_save();" />
<input type="button" class="button cancel" value="Cancel" onclick="javascript:trip_segments_cancel();" />
</p>
</div>