{% extends "content.html" %}

{% block htmlhead %}
<script src="{{ MEDIA_URL }}javascript/trip.js" type="text/javascript"></script>
{% endblock %}

{% block script %}
$(document).ready(init_trip_new);
{% endblock %}

{% block summary %}
<div id="trip-info-edit" class="edit-box">
  <form action="/trips/new/" method="POST">
  <table width="100%">
    <thead class="edit-box-header"><th>Edit trip</th><td></td></thead>
    {{ trip_edit_form }}
  </table>
  <input type="submit" class="button" value="Save" />
  <input type="button" class="button cancel" value="Cancel" onclick="javascript:window.location='/trips/{{ user.username }}/';" />
  </form>
</div>
{% endblock %}