{% extends "content.html" %}

{% block htmlhead %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ settings.GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}javascript/lib/markermanager.js" type="text/javascript"></script>
{% endblock %}

{% block script %}

var visibilities = { {% for v in visibility_choices %}{{ v.0 }}: "{{ v.1 }}"{% if not forloop.last %},{% endif %}{% endfor %} };
var transportation_methods = { {% for t in transportation_method_choices %}{{ t.0 }}: "{{ t.1 }}"{% if not forloop.last %},{% endif %}{% endfor %} };

function edit_trip()
{
    $("#trip-info").hide();
    $("#trip-info-edit").show();
    $("#trip-info-edit-link").effect('transfer', {to: "#trip-info-edit"}, 500);
    $("#operations").hide();
    $("#trip-info-edit #id_name").focus();
}

function edit_segments()
{
    $("#trip-details").load("/trip/{{ trip.id }}/segments/");
    $("#trip-segments-edit-link").effect('transfer', {to: "#trip-details"}, 500);
}

function edit_points()
{
    $("#trip-details").load("/trip/{{ trip.id }}/points/");
}

function update_trip_info()
{
    function do_update(trip)
    {
        $("#title").html(trip.name);
        $("#trip-info #start-date").html(convertDate("s", "l", trip.start_date));
        $("#trip-info #end-date").html(convertDate("s", "l", trip.end_date));
        $("#trip-info #visibility").html(visibilities[parseInt(trip.visibility)]);
    }
    $.get("/trip/{{ trip.id }}/json/", function(data){ do_update(eval("(" + data + ")")); });
}

function update_trip_details()
{
    $("#trip-details").load("/trip/{{ trip.id }}/details/");
}

function edit_trip_saved()
{
    $("#trip-info").show();
    $("#operations").show();
    $("#trip-info-edit").hide();
    update_trip_info();
}

function edit_trip_cancel()
{
    $("#trip-info-edit").hide();
    $("#operations").show();
    $("#trip-info").show();
}

function init()
{
    $("#trip-info-edit > form").ajaxForm({success: edit_trip_saved});
    $("#trip-info-edit #id_start_date").datepicker({dateFormat: date_format_short});
    $("#trip-info-edit #id_end_date").datepicker({dateFormat: date_format_short});
    update_trip_info();
    {% if trip.segment_set.count %}
        update_trip_details();
    {% else %}
        edit_points();
    {% endif %}
}

function cleanup()
{
    cleanupMap();
}

$(document).ready(init);
$(document).unload(cleanup);
{% endblock %}

{% block summary %}
<div id="trip-info">
  Started on: <span id="start-date"></span><br />
  Ended on: <span id="end-date"></span><br />
  Visibility: <span id="visibility"></span><br />
  Owned by: {% ifequal user.id trip.user_id %}me{% else %}{{ trip.user.username }}{% endifequal %}<br />
</div>
<div id="trip-info-edit" style="display: none;">
  <form action="/trip/{{ trip.id }}/" method="POST">
  <table width="100%">
    <thead><th>Edit trip</th><td></td></thead>
    {{ trip_edit_form }}
  </table>
  <input type="submit" class="button" value="Save" />
  <input type="button" class="button cancel" value="Cancel" onclick="javascript:edit_trip_cancel();">
  </form>
</div>
{% endblock %}

{% block operations %}
  {% ifequal user.id trip.user_id %}
  <a id="trip-info-edit-link" class="navigation" href="javascript:edit_trip();">edit trip</a><br />
  <a id="trip-segments-edit-link" class="navigation" href="javascript:edit_segments();">edit segments</a><br />
  <a class="navigation" href="/trip/{{ trip.id }}/edit/annotations/">edit annotations</a>
  {% endifequal %}
{% endblock %}

{% block content %}
<table width="1000px">
  <tr>
    <td width="400px" valign="top"><div id="trip-details"></div></td>
    <td valign="top"><div id="map" class="map" style="width: 600px; height: 400px"></div></td>
  </tr>
</table>
{% endblock %}
