<script src="{{ MEDIA_URL }}javascript/trip.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function()
                  {
                      init_trip_details([{% for p in points %}[{{ p.coords.0 }}, {{ p.coords.1 }}, "{{ p.name }}"]{% if not forloop.last %},{% endif %}{% endfor %}]);
                  });
</script>

<div id="trip-details-tabs">
<ul>
  <li><a href="#points"><span>Points</span></a></li>
  <li><a href="#segments"><span>Segments</span></a></li>
  <li><a href="#photos"><span>Photos</span></a></li>
</ul>

<div id="points">
  <a href="javascript:edit_points({{ trip.id }});">edit points</a>
  <ul class="plain-list">
    {% for point in points %}
    <li>
      {% if point.annotations or point.date_arrived or point.date_left %}
      <span class="link" onclick="javascript:toggle_annotations('point_{{ forloop.counter }}')">
        <span id="link_point_{{ forloop.counter }}" class="expand-item">+</span>
      {% else %}
      <span>
        <span class="expand-item-disabled">+</span>
      {% endif %}
        {{ point.name }} {% if point.visited %}(visited){% endif %}
      </span>
      <ul id="point_{{ forloop.counter }}" class="plain-list" style="display: none;">
	{% if point.date_arrived or point.date_left %}
          <li>{% if point.date_arrived %}{{ point.date_arrived|date }}{% else %}?{% endif %} - {% if point.date_left %}{{ point.date_left|date }}{% else %}?{% endif %}</li>
	{% endif %}
        {% for annotation in point.annotations %}
          <li>{{ annotation.manager.render_short }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="segments">
  <ul class="plain-list">
    {% for segment in segments %}
    <li>
      <span class="link" onclick="javascript:toggle_annotations('segment_{{ forloop.counter }}')">
        <span id="link_segment_{{ forloop.counter }}" class="expand-item">+</span>
          {{ segment.p1_name }} - {{ segment.p2_name }}
      </span>
      <ul id="segment_{{ forloop.counter }}" class="plain-list" style="display: none;">
	<li>Length: {{ segment.length|floatformat:2 }} km</li>
	{% for annotation in segment.annotations %}
	<li>{{ annotation.manager.render_short }}</li>
	{% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="photos">
  <ul class="plain-list">
    {% for annotation in trip.annotation_set.all %}
    {% if annotation.manager.is_photos %}
    <li>{{ annotation.manager.render_short }}</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
</div>