{% extends "page.html" %}

{% block script %}
$(function() {
    $("#stats-tabs").tabs().show();
});
{% endblock %}

{% block content %}
<div class="column span-14 prepend-5 prepend-top">
<h3><a href="/people/{{ user.username }}/">{{ user.username }}</a>'s stats</h3>
<div id="stats-tabs" style="display: none">
<ul>
  {% for year in years %}
  {% with year|default:"Overall" as year %}
  <li><a href="#{{ year }}"><span>{{ year }}</span></a></li>
  {% endwith %}
  {% endfor %}
</ul>
{% for stat in stats %}
{% with stat.0|default:"Overall" as year %}
<div id="{{ year }}">
  Number of trips: {{ stat.1.trip_count }}<br />
  Visited places: {% for place in stat.1.places %}<a href="{{ place.get_absolute_url }}">{{ place.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
  Visited countries: {% for country in stat.1.countries %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
  Total distance traveled: {{ stat.1.distance|floatformat:2 }} km<br />
  {% if stat.1.distance_AIRPLANE %}Distance traveled by airplane: {{ stat.1.distance_AIRPLANE|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_BIKE %}Distance traveled by bike: {{ stat.1.distance_AIRPLANE|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_BOAT_X_FERRY %}Distance traveled by boat / ferry: {{ stat.1.distance_BOAT_X_FERRY|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_BUS %}Distance traveled by bus: {{ stat.1.distance_BUS|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_CAR %}Distance traveled by car: {{ stat.1.distance_CAR|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_MOTORCYCLE %}Distance traveled by motorcycle: {{ stat.1.distance_MOTORCYCLE|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_TRAIN %}Distance traveled by train: {{ stat.1.distance_TRAIN|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_WALK %}Distance traveled by walking: {{ stat.1.distance_WALK|floatformat:2 }} km<br />{% endif %}
  {% if stat.1.distance_UNSPECIFIED %}Distance traveled by other means: {{ stat.1.distance_UNSPECIFIED|floatformat:2 }} km<br />{% endif %}
</div>
{% endwith %}
{% endfor %}
</div>
</div>
{% endblock %}
