<div class="column span-14 prepend-5 append-5 prepend-top last">
  <div class="column span-4 append-bottom">
    <div><img class="user-image" src="{% if for_user.userprofile.picture %}{{ for_user.userprofile.picture.url }}{% else %}{{ MEDIA_URL }}pp/default.png{% endif %}" /></div>
  </div>
  <div class="column span-8">
    <h4>{{ for_user.username }}</h4>
    <div>
      {% if for_user.userprofile.name %}<strong>{{ for_user.userprofile.name }}</strong>{% endif %}
      {% if for_user.userprofile.current_location %}{{ for_user.userprofile.current_location.name }}, {{ for_user.userprofile.current_location.country.name }}{% endif %}
    </div>
    <div>{% if for_user.userprofile.about %}{{ for_user.userprofile.about }}{% endif %}</div>
    <div><a href="/trips/{{ for_user.username }}/">{{ trip_count }} trips</a></div>
  </div>
  <div class="column span-2 small last">
    {% if not user.is_anonymous %}
    {% if not is_friend and not is_friend_pending and not is_self %}
      <a href="/people/{{ for_user.username }}/relationship/">add as friend</a><br />
    {% endif %}
    {% if is_self %}
      <a href="/account/profile/">edit</a><br />
    {% endif %}
    {% if not is_self %}
      <a href="/people/{{ for_user.username }}/friends/">view friends</a><br />
    {% endif %}
    {% endif %}
  </div>
  <hr />
</div>