{% extends "page.html" %}

{% load cachedfile %}

{% block htmlhead %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ settings.GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}{% cachedfile "javascript/c/google-maps-all.js" %}" type="text/javascript"></script>
{% endblock %}

{% block script %}
$(function() { initUserMap([
{% for p in places %}
{name: "{{ p.name }}", lat: {{ p.coords.0 }}, lng: {{ p.coords.1 }}, visit_count: {{ p.visit_count }}, rating: {{ p.rating }} }{% if not forloop.last %},{% endif %}
{% endfor %}
]); });
{% endblock %}

{% block content %}
<div class="column span-14 prepend-5 prepend-top">
<h3><a href="/people/{{ user.username }}/">{{ user.username }}</a>'s world</h3>
<div class="column span-16 prepend-top last"><div id="map"></div></div>
</div>
{% endblock %}
