{% extends "page.html" %}
{% load call %}

{% block content %}
{% call "user_badge.html" %}

{% if trips %}
<div class="column span-14 prepend-5 append-5 prepend-top last">
<div>Most recent trips:</div>
<table id="trip-list" class="data-grid" style="width: 100%">
  <thead>
    <td width="40%">Name</td>
    <td width="30%">Start date</td>
    <td width="30%" class="lastcolumn">End date</td>
  </thead>
  {% for trip in trips %}
  <tr{% if forloop.first %} class="firstrow"{% endif %}>
    <td><a href="{{ trip.get_absolute_url }}">{{ trip.name }}</a></td>
    <td>{{ trip.start_date|date }}</td>
    <td class="lastcolumn">{{ trip.end_date|date }}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
